// COLOURS
$colours: (
	black: #111,
	white: #FFF,
	orange: #fa5254,
	dark-grey: #262626,
	neon: #00e7b4,
	purple: #333399,
	blue: #32C3E5
);

$selection-colour: maps($colours, black);

$link: rgba(maps($colours, black), 0.7);
$link-hover: rgba($link, 1);

$header-bg:  maps($colours, dark-grey);
$header-link: maps($colours, neon);
$header-text: #aaa;

$top-nav: #666;
$top-nav-hover: #222;

$footer-text: #aaa;
$footer-link: #aaa;
$footer-link-hover: #eee;

$logo-color: maps($colours, black);
$logo-color-hover: maps($colours, dark-grey);

$work-link: rgba(maps($colours, black), 0);
$work-link-hover: rgba(maps($colours, black), 0.8);

$journal-text: rgba(maps($colours, black), 0.7);