.title {
	padding: 40px 0;
	text-align: center;
}

.page-title {
	margin: 0;
	font-size: 52px;
	letter-spacing: -1px;
	line-height: 1.4;
	font-family: $sans-serif;
}

.subtitle {
	margin: 0;
	color: #a1a1a1;
	font-family: $serif;
}