.hero {
	padding: 80px 0;
	background: $header-bg url('../img/bg.jpg') no-repeat center;
	background-size: cover;
	@include clearfix;

	@media screen and (min-width: 768px) {
		height: 100vh;
	}
}

.hero-about {
	// padding-bottom: 40px;
	h1 {
		letter-spacing: -1px;
		line-height: 1.3;
		margin: 0;
		color: $header-link;

		// &:before {
		// 	opacity: 0;
		// 	z-index: -1;
		// 	position: absolute;
		// 	content: "I design graphics for the web & print —";
		// 	padding: 4px 0 0 4px;
		// 	color: maps($colours, white);
		// }

		// &:hover:before {
		// 	opacity: 1;
		// }
	}

	p {
		display: none;
		margin: 1em 0 0;
		font-family: $georgia;
		color: $header-text;
	}
}

.mini-about {
	margin: 20px 0;
	text-align: left;
	
	h1 {
		margin: 0;
		font-size: 2em;
		letter-spacing: -1px;
		line-height: 1.4;
		font-family: $sans-serif;
	}

	h3 {

	}

	p {
		font-size: 1em;
		padding: 0;
	}
}

@media screen and (min-width: 768px) {
	.mini-about {
		margin: 70px 0;
		// text-align: center;
		
		h1 {
			margin: 0;
			font-size: 2.4em;
			letter-spacing: 1px;
			line-height: 1.6;
			font-family: $sans-serif;
		}


		h3 {

			margin: 0;
			font-size: 1.8em;
			font-weight: 400;
		}

		p {
			@include span-columns(8);
		  font-weight: 400;
		  font-size: 1.3em;
		  line-height: 1.6em;
		}
	}
}

@media screen and (min-width: 768px) {
	.hero-about {
		@include vertical-align;
		h1 {
			display: block;
		}

		p {
			display: block;
			font-size: 1.2em;
		}

		.scroll {
			padding-top: 5%;
			text-align: center;
		}
	}
}

.my-process {
	.process {
		@include span-columns(12);
		margin-bottom: 16px;
		text-align: center;
		background: #eee;
	}

	@media screen and (min-width: 768px) {
		.process {
			@include span-columns(4);
		}
	}
}

.featured-work {
	padding: 0 0 48px;
	.work {
		@include span-columns(12);
		//@include transition(all 0.3s);
		position: relative;
		// background: black;
		margin-bottom: 1em;
		overflow: hidden;
		img {
			z-index: 1;
			opacity: 1;

			@include transition(all 0.3s);
		}
		
		figcaption {
			width: 100%;
			height: 98%;
			padding: 10px 20px;
			color: rgba(white, 0);
			background: $work-link;
			position: absolute;
			top: 48.5%;
		  	-webkit-transform: translateY(-50%);
		  	-ms-transform: translateY(-50%);
		  	transform: translateY(-50%);
			z-index: 5;
			@include transition(all 0.3s ease-in-out);
			h4 {
				margin: 0;
				position: absolute;
				top: 46%;
				left: 50%;
			  	-webkit-transform: translateY(-50%);
			  	-ms-transform: translateY(-50%);
			  	transform: translateY(-50%);
			  	-webkit-transform: translateX(-50%);
			  	-ms-transform: translateX(-50%);
			  	transform: translateX(-50%);
			}
		}

		&:hover {
			// img {
			// 	opacity: 0.7;
			// }

			figcaption {
				color: rgba(white, 1);
				background: $work-link-hover;
			}
		}
	}

	@media screen and (min-width: 768px) {
		.work {
			@include span-columns(4);

			figcaption {
				@include transition(all 0.3s ease-in-out);
			}
		}
	}
}