.work-page {
	@include clearfix;
	padding: 40px 0 50px;
}

.info-header {
	// border-bottom: 1px solid #eee;
	// border-top: 1px solid #eee;
	.work-title {
		
	}

	.work-description {
		@include span-columns(12);
	}

	@media screen and (min-width: 768px) {
		@include clearfix;
		padding: 32px 0 22px;
		margin: 28px 0px 32px;

		.work-title {
			margin: 10px 0 0;
			font-size: 48px;
			// line-height: 1;
		}
	}
}

.details {
	margin: 42px 0;

	p {
		margin: 20px 0 40px;
	}

	@media screen and (min-width: 768px) {
		.work-description {
			@include span-columns(8);
		}
	}
}

.meta {
	@include clearfix;
	padding: 16px 0;
	margin-bottom: 35px;
	border-top: 1px solid rgba(#FFFFFF, 0.1);
	border-bottom: 1px solid rgba(#FFFFFF, 0.1);

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			padding: 0;
			margin-right: 5%;
		}
	}

	span {
		font-weight: 700;
	}
}

.mobile-work {
	@include span-columns(4);
	// margin-bottom: 20px;

	@media screen and (min-width: 768px) {
		@include span-columns(4);
		margin-bottom: 0;
	}
}

.web-work {
	@include span-columns(12);
	background: #eee;
	padding: 1em;
}

// PAGE BACKGROUNDS 

#photo-app {
	color: #FFF;
	background: #e1e1e1;
	background-size: cover;
}

#movie-house {
	// background: #D0021B;
	background: #e1e1e1;
}

#movie-trakr {
	// background: 
}